body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(gandr.jpg);
  backdrop-filter: brightness(0.5);
}

.slider{
  width: 530px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 530px;
  height: 500px;
}

/* manual navigation */
h2{
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border: 1px solid white;
  font-size: 50px;
  color: white;
}
.navigation-manual{
  position: absolute;
  width: 530px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #6b076b;
  padding: 2px;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: -40px;
}

.manual-btn:hover{
  background: #6b076b;
}

#radio1:checked ~ .first{
  margin-left: -100%;
}

#radio2:checked ~ .first{
  margin-left: -80%;
}

#radio3:checked ~ .first{
  margin-left: -60%;
}

#radio4:checked ~ .first{
  margin-left: -40%;
}

#radio5:checked ~ .first{
  margin-left: -20%;
}

#radio6:checked ~ .first{
  margin-left: 0;
}